body {
    margin: 0;
    padding: 0;
}

/*navbar*/
.barra_nav img {
  width: 10rem;
}
.barra_nav {
  background-color: #005f69!important;
  text-decoration: none;
}
.barra_nav a {
  color:#b8c3c4;
}

.barra_nav a:hover, .navbar__icon:hover{
  color: white;
}

.navbar__icon {
  color:#b8c3c4;
  padding: 15px;
}

input {
  width: 10rem!important;
  margin: 0;
}
.buscador input{
  margin: 0!important;
}

.buscador {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* slider*/

.navbar__slider-img1 {
  background-image: url(../img/home-slider-mobile-01.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .navbar__slider-img1 {
    background-image: url(../img/home-slider-image-1.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}


.carousel-inner,
.carousel-item,
.carousel {
  height: 100vh;
  width: 100vw;
}

/* Producto */
.contenedor{
  padding: 0 100px;
}

.titulo__seccion{
  margin: 0;
  padding: 0;
  color: #3C3C3C;
  font-size: 26px;
  font-weight: 500;
}

.ofertas__subrayado{
  background-color: #005F69;
  width: 80px;
  height: 2.5px;
  margin: 8px 0 50px 0;
  padding: 0;
}

.producto{
  height: auto;
  width: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.producto img{
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 23px -18px rgba(89,89,89,1);
  margin-bottom: 15px;
}
.producto a:link{
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.producto a:hover{
  text-decoration: none;
}

.producto h3{
  margin: 5px 0;
  padding: 0;
  color: #666;
  font-size: 13px;
  font-weight: 300;
}

.producto p{
  margin: 0;
  padding: 0;
  color: #005F69;
  font-size: 18px;
  font-weight: 700;
}

.producto button{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-top: 15px;
  background-color: #F39200;
  border: none;
  padding: 10px 32px;
}

.producto button:hover{
  background-color: #F29E30;
}

.margen__secciones{
  padding: 60px 0;
  margin: 60px 0;
}

.fondo__color{
  background-color: #f2f5ff;
}
.producto a {
color: #0000;
}

@media (max-width: 576px) {
  .producto button{
      font-size: 9px;
      margin-top: 15px;
      padding: 10px 20px;
  }
}

@media only screen and (max-width: 600px){
  .contenedor{
      padding: 0 30px;
      
  }
}

/*footer*/
footer{
  background-color: #005f69;
  margin: 0px;
}

footer a{
  text-decoration: none;
}

.footer-bottom {
  background-color: #005f69;
  color: white;
}

.footer-logo{
  width: 90%;
  margin-left: 15px;
}

li{
  text-decoration: none;
  list-style: none;
}

.social-networks {
  color: white;
  margin: 0px 40px 0px 40px;
}
.social-networks i{
  color: white;
}
.footer-menu{
  padding-top: 20px;
}
@media (max-width: 767.98px) { 
  .footer-menu{
  margin-right: 50px;
  text-align: center;
}}

.footer-menu a{
  color: white;
}

.footer-menu h4{
  padding-left: 40px;
}

hr{
 border: 0.1px solid;
  color: white;
}

.info-name{
  text-align: center;
}